@import "tailwindcss";

:root {
  --background: #E4E4E4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E4E4E4;
    --foreground: #000000;
  }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}



.no-scrollbar {
    scrollbar-width: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }
}